<header>



    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(57, 117, 228) !important; height: 50px;">
        <a class="logo" [routerLink]="['/home']" style="font-family: 'Permanent Marker', cursive; font-size: 19px; background: none;  padding-right: 150px; ">EDUCATE SOMALIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-size: medium;  text-align: center; font-weight: 400; font-family: 'Goldman', cursive;">
          <div class="navbar-nav">
            <a [routerLink]="['/home']" >HOME</a>
            <a [routerLink]="['/hard']">SOMALI CULTURE</a>
            <a [routerLink]="['/easy']" >SOMALI HISTORY</a>
            <a [routerLink]="['/medium']" >SOMALI GEOGRAPHY</a>

        </div>
          </div>
         
       
      </nav>
    


</header>

<br>