<br>
<br> 




<div class= "container" style="width: 70%; background-color: rgb(135, 173, 222); position: relative; padding: 28px;">
    <br>
<div class="container" style="background-color: rgb(221, 211, 211); position: relative;" >
    <br>
    <h2 style="text-align: center;"> (1) How many years did Aden Adde Serve Office as President of Somalia?</h2>
    <br>
  </div>

  
  <br>


  <div class="container" style="background-color:rgb(221, 211, 211); position: relative; text-align: center;">
    <div class="row">
      <div class="col-sm">
          
    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: x-large;"> 
      
       A: 4 Years
       
          
        </button>
      </div>
       <hr>
      <div class="col-sm">
        <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: x-large;"> 
        B: 8 years
    </button>
      </div>
    </div>
  </div>

<br>
  <div class="container" style="background-color: rgb(221, 211, 211) !important; position: relative; text-align: center;">
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: x-large;"> 
        C: 12 years
    </button>
      </div>
      <hr>
      <div class="col-sm">
        <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: x-large;"> 
        D: 7 years
    </button>
      </div>
    </div>
</div>
<br>
<div style="float: right;">
  <button type="button" class="btn btn-primary btn-lg">Next</button>
  <br>
  
 
</div>
<br>
<br>
<br>
</div>