.background {
    width: 100%;
    min-height: 100%;
    
	
    position: fixed;
    background-image: url("/assets/img/thesom2.jpg");

  
    background-size: cover;
    background-position: center;
    
  
    
}

