<br>
<br> 



<div class= "container" style="width: 70%; background-color: rgb(135, 173, 222); position: relative; padding: 28px;">
    <br>
<div class="container" style="background-color: rgb(221, 211, 211); position: relative;" >
    <br>
    <h2 style="text-align: center;"> (1) When did Somalia gain its Independence?</h2>
    <br>
  </div>

  <br>
 
 

  <div class="container" style="background-color:rgb(221, 211, 211); position: relative; text-align: center;">
    <div class="row">
      <div class="col-sm">
          
    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: x-large;"> 
      
       A: July 1st, 1961
       
          
        </button>
      </div>
       <hr>
      <div class="col-sm">
        <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: x-large;"> 
        B: July 1st, 1962
    </button>
      </div>
    </div>
  </div>

<br>
  <div class="container" style="background-color: rgb(221, 211, 211) !important; position: relative; text-align: center;">
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: x-large;"> 
        C: July 1st, 1963
    </button>
      </div>
      <hr>
      <div class="col-sm">
        <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: x-large;"> 
        D: July 1st, 1960
    </button>
      </div>
    </div>
  </div>
  <br>
  <div style="float: right;">
    <button type="button" class="btn btn-primary btn-lg">Next</button>
    <br>
    
   
</div>
<br>
<br>
<br>
</div>

