<br>


<div class="row" style="justify-content: center; margin: auto; width: 80%; ">


    <div class="som" class="col-sm order-sm-12" style="width: 97%;   padding: 28px; margin-left: 20px;">

        <div class="container" style="background-color: rgb(0, 0, 0);  border-radius: 4px">

            <br>
            <h4 style="color: white; text-align: center;"> Test Your Knowledge of Somalia [Fun Quiz Game]</h4>
            <br>


        </div>


        <br>

        <div style="text-align: center; ">
            <div class="row">
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: arge; background-image: url(/assets/img/smhis.jpg); background-position: center; background-size: cover; border-radius: 5px; width: 320px !important; height: 300px; margin-bottom: 15px; box-shadow: 2px 5px; font-weight: 600;">

            <h1
              style="background-color: black; color: white; position: relative; top: 120px; right: 12px; line-height: 60px; width: 320px; font-size: larger; text-align: center;">
              Somali History </h1>


            <br>
          </button>
                </div>




                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: arge; background-image: url(/assets/img/geo.jpg); background-position: center; background-size: cover; border-radius: 5px; width: 320px !important; height: 300px; margin-bottom: 15px; width: 240px; box-shadow: 2px 5px; font-weight: 600;">


            <h1
              style="background-color: black; color: white; position: relative; top: 120px; right: 12px; line-height: 60px; width: 320px; font-size: larger; text-align: center;">
              Somali Geography</h1>

            <br>



          </button>
                </div>

                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: large; background-color: white; border-radius: 5px;margin-bottom: 15px;width: 240px;box-shadow: 2px 5px;  font-weight: 600;">
            <br>

            Somali Culture
            <br>
            <br>


            <br>
          </button>
                </div>




            </div>









            <div class="row">
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: large; background-color: white; border-radius: 5px; margin-bottom: 15px;width: 240px;box-shadow: 2px 5px; font-weight: 600;">
            <br>

            The Language
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-sm">Play </button>
                    <br>
                    </button>
                </div>


                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: large; background-color: white; border-radius: 5px;margin-bottom: 15px;width: 240px;box-shadow: 2px 5px; font-weight: 600;">
            <br>

            Somali Foods
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-sm">Play </button>
                    <br>
                    </button>
                </div>

                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: large; background-color: white; border-radius: 5px;width: 240px;box-shadow: 2px 5px;  font-weight: 600;">

            <br>
            Heros of Somalia
            <br>
            <br>

            <button type="button" class="btn btn-primary btn-sm">Play </button>
                    <br>
                    </button>
                </div>

            </div>



        </div>
        <br>


    </div>





</div>
<br>


<div class="row" style="justify-content: center; margin: auto; width: 80%;">
    <div class="som" class="col-sm order-sm-12" style="width: 97%;   padding: 28px; margin-left: 20px;">

        <div class="container" style="background-color: rgb(0, 0, 0);  border-radius: 4px;">

            <br>
            <b>
        <h3 style="color: white;    text-align: center;"> Fun Facts About Somalia</h3>
      </b>
            <br>


        </div>


        <br>

        <div style="text-align: center; ">
            <div class="row">
                <div class="col-sm">
                    <div type="button" class="img" style="color: black; font-size: large; background-image: url(/assets/img/shorel.jpg); background-position: center; background-size: cover; border-radius: 5px; margin-bottom: 15px; width: 370px; height: 370px; box-shadow: 2px 5px; font-weight: 600;">


                        <h5 style="background-color: black; color: white; position: relative; top: 260px; line-height: 29px;">
                            Somalia has the 2nd longest shoreline in Africa after Madagascar. It is 3,333 kilometers long. </h5>
                        <br>
                        <br>

                        <br>
                    </div>
                </div>




                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: large; background-color: white; border-radius: 5px; margin-bottom: 15px; width: 370px;box-shadow: 2px 5px; font-weight: 600;">
            <br>
            <img src="/assets/img/lang.jpg" alt="" style="max-width: 330px; max-height: 100%;">
            The Somali Languge is part of Cushitic branch and is closely related to Oromo and Afar Languages. The 3 main
            dialects in Somalia are Northern, Benaadir and Maay.
            <br>



          </button>
                </div>






            </div>









            <div class="row">
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: large; background-color: white; border-radius: 5px; margin-bottom: 15px;width: 240px;box-shadow: 2px 5px; font-weight: 600;">
            <br>

            The Language
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-sm">Play </button>
                    <br>
                    </button>
                </div>


                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: large; background-color: white; border-radius: 5px;margin-bottom: 15px;width: 240px;box-shadow: 2px 5px; font-weight: 600;">
            <br>

            Somali Foods
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-sm">Play </button>
                    <br>
                    </button>
                </div>

                <div class="col-sm">
                    <button type="button" class="btn btn-outline-secondary" style="color: black; font-size: large; background-color: white; border-radius: 5px;width: 240px;box-shadow: 2px 5px;  font-weight: 600;">

            <br>
            Heros of Somalia
            <br>
            <br>

            <button type="button" class="btn btn-primary btn-sm">Play </button>
                    <br>
                    </button>
                </div>

            </div>



        </div>
        <br>


    </div>

</div>

<br>


<div class="row" style="justify-content: center; margin: auto; width: 80%;">


    <div class="col-sm order-sm-12" style="width: 97%; background-color: rgb(240, 240, 240);    padding: 28px;       margin-left: 20px;">

        <div style="background-color: rgb(36, 36, 36);  border-radius: 4px;">

            <br>
            <h3 style="color: white;    text-align: center; ">Brain Games</h3>
            <div style="text-align: center;">
                <br>
            </div>


        </div>


        <br>

        <div style="text-align: center; ">
            <div class="row">












            </div>








            <br>
            <div class="row">



            </div>



        </div>
        <br>


    </div>

</div>







<br>